<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Websocket Chat</title>
</head>
<body>
	<h3>Websocket Chat Example</h3>
	<hr>
	<div id="root">
    <h4 v-show="notSupported">Your browser does not support websockets</h4>
      <div v-for="item in messages">
        {{ item }}
      </div>
    <hr>
    <div>
      <input v-model="input">
      <button @click="sendMessage">SUBMIT</button> 
    </div>
  </div>
</body>
<script src="/js/app.js"></script>
</html>