<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Websocket Chat</title>
  <link rel="stylesheet" href="/css/app.css" />  
</head>
<body>
	<main id="root" class="absolute-center">
  <section class="container">

    <div class="title">
     <h4>{{ title }}</h4> 
    </div>

    <div class="chatbox">
      <div v-for="item in messages" class="message">
       {{ item.data }}
      </div>
      <div class="input">
        <input 
          v-model="input" 
          @keyup.enter="sendMessage"
          placeholder="Type a message">
      </div>
    </div>

  </section>
  </main>
</body>
<script src="/js/app.js"></script>
</html>