/**
 * Variables
 */

global-fonts = Roboto, sans-serif
global-font-size = 16px

color = {
	text: #494949,
	subtext: #939393,
	highlight: #F84440,
	primary: #906CC1,
	error: #FF0000,
	success: #00FF08,
	border: #E2E0E0,
	shadow: #D3D3D3
}